body{margin:0;
padding:0;
color:white;
background-color:black;
overflow:none;
}
header{
    width:100vw;
    height:25vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#main{
    position:relative;
    top:25vh;
    width:100vw;
}
#L1R1C1{
    position:absolute;
    top:10vh;
    left:50vw;
    transform:translate(-50%,-50%);
}
.logShow{
    position:absolute;
    bottom:0;
    left:0;
    border: 2px solid white;
    height:10vh;
    width:100vw;
    background-color:white;
    color:black;
    overflow:auto;
}
.logHide{
    display:none;
    overflow:auto;

}